version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: brain-mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    image: sarthakkad/brain-backend:1.0.1
    container_name: brain-backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: unless-stopped

  frontend:
    image: sarthakkad/brain-frontend:1.0.0
    container_name: brain-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data: